<footer class="bg-dark text-light text-center py-2 border-top border-warning small">
    <div class="container">
        <span class="opacity-75">
            © {{ "now"|date("Y") }}
            <span class="text-warning fw-semibold">Casino Royal</span>

        </span>
    </div>
</footer>
