<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Casino {% endblock %}</title>

        <style>
            body {
                background-color: #000;
                color: white;
            }
            .bg-casino {
                background: linear-gradient(180deg, #8B0000 0%, #2b0303 60%, #000000 100%);
                min-height: 100vh;
            }
        </style>

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% include 'fragments/footer.html.twig' %}
    </body>
</html>
