<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Casino {% endblock %}</title>

        <style>
            body {
                background-color: #000;
                color: white;
            }
            .bg-casino {
                background: linear-gradient(180deg, #8B0000 0%, #2b0303 60%, #000000 100%);
                flex: 1;
            }

        </style>

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="d-flex flex-column min-vh-100">
    {% block body %}{% endblock %}

    <div class="mt-auto">
        {% include 'fragment/footer.html.twig' %}
    </div>
</body>

</html>
